/* src/styles/UpdatePassword.css */

.update-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.update-password-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}

.logo {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.update-password-box {
    background-color: #228b22; /* Dark green color for the box */
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.update-password-box h2 {
    color: #fff;
    margin-bottom: 20px;
}

.update-password-box form {
    display: flex;
    flex-direction: column;
}

.update-password-box input {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.update-password-box input::placeholder {
    color: #ccc;
}

.update-password-box button {
    padding: 10px;
    background-color: #ffd700; /* Yellow color */
    color: #000;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.update-password-box button:hover {
    background-color: #ffc107;
}

.success-message,
.error-message {
    font-size: 16px;
    margin-bottom: 10px;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

.success-message button,
.error-message button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
}
